/* GENERAL STYLING  */

* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inactive-tab {
  display: none;
}

.active-tab {
  display: block;
}

/*  ANIMATION */

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with 0 opacity */
  }
  to {
    opacity: 1; /* End with 1 opacity */
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
  opacity: 1;
}

/* STYLING FOR HEADER */

.navBar {
  top: 0;
  position: sticky;
  z-index: 100;
}

.navBar-ul {
  display: flex;
  margin: auto;
  padding: 40px 100px;
  list-style-type: none;
  background-color: #e5eaf5;
}

.navBar-li {
  margin: auto;
  transition: 1s;
}

.navBar-li:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* STYLING LANDING PAGE TAB */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header-img {
  margin-top: 20px;
  width: 100%;
  scale: 0.9;
  border-radius: 15px;
}

.main-header-description {
  padding: 10px 50px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f0ece2;
}

.main-header-description-p {
  font-weight: 300;
  max-width: 30rem;
}

/* STYLING FOR VOLUNTEER TAB */

.volunteer-tab-container {
  display: flex;
  min-height: 100vh;
}

/* STYLING FOR INFO TAB */

.practicalInfo-container {
  display: flex;
  min-height: 100vh;
}

/* STYLING FOR NEW ITEM TAB */

.new-item-fieldset {
  box-shadow: 0px 5px 7px 2px #e5eaf5;
  border-radius: 5px;
}

.product-tab-container {
  display: flex;
  flex-direction: column;
}

.product-tab-header {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
}

.product-tab-h1 {
  margin: 0;
}

.new-item-input-container {
  padding: 10px;
}

.new-item-dialog {
  border-radius: 10px;
  border: 1px solid;
}

.new-item-input-container {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  gap: 20px;
}

.new-item-header {
  margin: 0;
}

.product-tab-main {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.item-container {
  width: 35%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.item-name {
  color: black;
}

.item-img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  transition: 1s;
}

.item-img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* FOOTER STYLING */

.navBar-footer {
  display: grid;
  margin-top: 100px;
  background-color: #e5eaf5;
  padding: 0;
}

.navBar-footer-ul {
  padding: 7px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.footer-img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-top: 7px;
}

.navBar-footer-li {
  transition: 1s;
}

.navBar-footer-li:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/*  STYLING CLOTHES ITEM */
.clothing-item-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/*            DIALOGS STYLING            */

/*CREATE NEW PRODUCT DIALOG*/

.create-product-dialog {
  border-radius: 10px;
  background-color: #e5eaf5;
}

.close-button {
  border-radius: 115px;
}

.close-button:hover {
  cursor: pointer;
  background-color: gray;
}

.create-product-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
  gap: 50px;
  margin-top: 10px;
}

.label-input-container {
  display: flex;
  flex-direction: column;
}
